body{
	margin: 0;
	padding: 0; 
	background-color: rgba(3,9,51,1);
	width:100%;
	color: #ffffff;
	text-align: center;
	font-family: "Lustria", Serif;
}

nav{
	background-color:rgba(138,138,138,0.9);
	display:block;
	margin: 0 auto;
	}

nav a {
	display:inline-block;
	width: 20%;
	color:rgba(255,255,255,1);
	text-decoration: none;
	font-size: 25px;
}

nav a:hover,
nav a:focus	{
		color:rgba(245,111,112,1);
	}

img.standardimage { 
	display: block;
	margin:15px auto;
	width:300px;
	border-radius: 10px}

img.header{
	width: 100%;
	height: 300px;
	margin: 0 auto -10px auto;
}

h1 {
	font-size: 50px;
	margin-top: 10px;
}

h2 {
	font-size: 15px;
}

p {
	font-size: 15px;
	max-width: 700px;
	margin:0 auto;
	text-align: justify;
}

.frontpage{
	height:100%;
}
