body{
	margin: 0;
	padding: 0; 
	background-color: rgba(3,9,51,1);
	width:100%;
	color: #ffffff;
	text-align: center;
	font-family: "Lustria", Serif;
}

html,
body, {
	height: 100%
}

nav{
	background-color:rgba(250,250,250,0.9);
	display:block;
	}

nav a {
	display:inline-block;
	color:rgba(117,117,117,1);
	text-decoration: none;
	font-size: 20px;
	padding:15px;
}

nav a:hover,
nav a:focus	{
		color:rgba(245,111,112,1);
	}

img.homeimage { 
	display: block;
	margin:10px auto;
	width:470px;
	border-radius: 10px}

img.header{
	width: 100%;
	height: 300px;
	margin: 0 auto -10px auto;
}

h1 {
	font-size: 40px;
	margin-top: 10px;
}

h2 {
	font-size: 20px;
	margin: 8px;
}

p {
	font-size: 18px;
	max-width: 700px;
	margin:0 auto;
	text-align: justify;
}

.frontpage{
	height:100%;
}

footer{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

footer p{
	float:right;
}

.countdown{
	display:block;
	width:400px;
	margin:10px auto;
}

.end {
	background-color: rgba(250,250,250,0.9);
	margin-top: 40px;
	color:rgba(117,117,117,1);
	padding:20px;
}

.cf:before,
.cf:after {
    content: " ";
    display: table; 
}

.small {
	font-size: 10px;
}

.cf:after {
    clear: both;
}

.nocontent {
	margin:50px;
	font-size: 40px;
}